$ui-color: rgb(141, 205, 95);
$header-bg-color: rgb(170, 214, 100);
$text-color: rgb(66, 66, 66);
$header-color: rgb(255, 255, 255);

@mixin clearfix {
  overflow: auto;
  zoom: 1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: $text-color;
}

#navbar {
  padding: 1.5em 8em;
  box-shadow: 0 0 1em rgba(84, 82, 82, 0.51);
  position: relative;
  z-index: 1;
  @include clearfix;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  li {
    float: left;
    list-style: none;
    padding: 0 1em;
  }
  a {
    text-decoration: none;
    color: $ui-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.align-right {
  float: right;
}

#home {
  background-color: $header-bg-color;
  color: $header-color;
}

.content {
  width: 40em;
  margin: 0 auto;
  padding: 1em;
}
