body {
  max-width: 100%;
  font-family: Charter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #424242; }

#navbar {
  padding: 1.5em 8em;
  box-shadow: 0 0 1em rgba(84, 82, 82, 0.51);
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  zoom: 1; }
  @media (max-width: 930px) {
    #navbar {
      padding: 1em 0.5em; } }
  #navbar ul {
    margin: 0;
    padding: 0;
    width: 100%; }
  #navbar li {
    float: left;
    list-style: none;
    padding: 0 1em;
    margin: 0.25em 0; }
    @media (max-width: 930px) {
      #navbar li {
        padding: 0 0.5em; } }
  #navbar a {
    text-decoration: none;
    color: #3e9530; }
    #navbar a:hover {
      text-decoration: underline; }
  #navbar #links {
    float: right; }
    @media (max-width: 930px) {
      #navbar #links {
        float: left; } }

#get-involved {
  display: inline-block;
  font-family: Charter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 1em 2em;
  border-radius: 4px;
  background-color: #61acfb;
  color: white;
  border: none;
  font-weight: bold;
  margin: 2em 0;
  text-decoration: none; }

#home {
  background-color: #4ca316;
  background-image: url(/images/books.jpeg);
  background-size: cover;
  color: white;
  padding: 3em 0em;
  padding-top: 8em; }

.top-content {
  box-sizing: border-box;
  max-width: 40em;
  margin: 0 auto;
  padding: 0em 1.5em;
  padding-top: 1em; }

.content {
  box-sizing: border-box;
  max-width: 46em;
  margin: 0 auto;
  padding: 0em 1.5em;
  padding-top: 1em; }

.side-image {
  padding-right: 1em;
  width: 33%;
  box-sizing: border-box;
  float: left;
  display: block; }
  @media (max-width: 930px) {
    .side-image {
      width: 50%; } }

.side-text {
  box-sizing: border-box;
  float: left;
  width: 66%; }
  @media (max-width: 930px) {
    .side-text {
      width: 100%;
      float: none; } }

@media (max-width: 930px) {
  .description {
    float: left;
    width: 50%; } }

.row {
  width: 100%;
  padding: 0;
  padding-bottom: 2em;
  overflow: auto;
  zoom: 1; }

p {
  font-family: Charter, Georgia, "Times New Roman", "Times", serif;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 1em; }

#contact {
  margin-bottom: 6em; }

.green {
  color: #3e9530; }

#footer {
  padding: 1em;
  margin-bottom: 6em; }
